:root {
    --active-color: #F34343;
    --inactive-color: #555555;
    --highlight-color: #FBFF24;
    --background-color: #D0B98D;
    --primary-color: #0C771D;
    --secondary-color: #691B1B;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

svg {
    width: 100%;
    height: 100%;
}