@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
:root {
  --active-color: #f34343;
  --inactive-color: #555555;
  --highlight-color: #fbff24;
  --background-color: #d0b98d;
  --primary-color: #0b6319;
  --secondary-color: #691b1b;
  --error-color: #cc0055;
}
* {
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 500;
  color: var(--inactive-color);
  margin: 0px;
}

label {
  font-weight: 400;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

li {
  margin-left: -15px;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 12px;
  tab-size: 2;
  font-weight: 300;
}

svg {
  width: 100%;
  height: 100%;
}

p {
  margin: 5px 0px;
  font-size: 12px;
  font-weight: 300;
}

button {
  background-color: transparent;
}
