.cupboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 10%;
}

.cupboardTitle {
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 20px;
  color: var(--inactive-color);
}
.cupboard__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 8px var(--highlight-color);
  height: 100%;
  background-color: white;
  overflow: scroll;
  padding: 10px;
}

.cupboard__main__list {
  width: 90%;
  background-color: rgba(208, 185, 144, 0.6);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 8px;
}

.cupboard__feedme-button {
  width: 80%;
  height: 80px;
  position: fixed;
  bottom: 5%;
  left: 10%;
  display: grid;
  place-items: center center;
  text-shadow: black 1px 1px;
}
.cupboard__feedme-button h2,
.cupboard__feedme-button h3 {
  margin: 0;
  padding: 0;
}
