.landing {
  background-color: white;
}

.landing__main {
  min-height: 40vh;
  max-height: 65vh;
  margin: 50px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--background-color) 0px 0px 8px;
  background: none;
  border-radius: 12px;
  overflow: scroll;
}

.landing__main__authenticate {
  width: 100%;
}

.landing__logo {
  height: 20vmin;
  pointer-events: none;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landing__logo__fork {
  align-self: center;
  position: absolute;
  z-index: 2;
}

.landing__logo__arrow {
  margin-top: 2px;
  margin-left: 2px;
  align-self: center;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .landing__logo__arrow {
    animation: App-logo-spin infinite 20s linear;
  }
}

.landing__button {
  background-color: var(--primary-color);
  height: 30px;
  color: white;
  margin: 5px;
  width: 170px;
}

.landing__header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-height: 15vh;
  width: 100%;
  font-size: 20px;
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
