.landing {
  background-color: white;
}

.landing__main {
  min-height: 40vh;
  max-height: 65vh;
  margin: 50px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--background-color) 0px 0px 8px;
  background: none;
  border-radius: 12px;
  overflow: scroll;
}

.landing__main__authenticate {
  width: 100%;
}

.landing__logo {
  margin-top: 50px;
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .landing__logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.landing__button {
  background-color: var(--primary-color);
  height: 30px;
  color: white;
  margin: 5px;
  width: 170px;
}

.landing__header {
  min-height: 15vh;
  width: 100%;
  display: grid;
  grid-column: 2;
  place-items: center center;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
