.landing {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center center;
}

.landing main {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  grid-template-rows: 5fr 1fr 0.5fr 0.5fr;

  width: 100%;
}
.landing__logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .landing__logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.landing__header {
  min-height: 35vh;
  width: 100%;
  display: grid;
  grid-column: 2;
  place-items: center center;
  border: 1px solid yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing__signin {
  width: 50vw;
  height: 80px;
  font-size: 32px;
}

.landing__social-buttons {
  place-items: center center;
  display: grid;
  grid-template-rows: 1fr 1fr;

  width: 100%;
}
