.home {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;

    margin: 8px;
    box-shadow: var(--background-color) 0px 0px 8px;
    border: solid 3px rgba(208,185,141,0.4);
    background: none;
    border-radius: 12px;
    margin-bottom: 80px;
}