.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 10%;
}

.profileTitle {
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 20px;
  color: var(--inactive-color);
}

.profile {
  display: flex;
  flex-direction: column;
  border: solid 8px var(--highlight-color);
  height: 100%;
  background-color: white;
  overflow: scroll;
  padding: 10px;
}

.profile__recipes-section {
  margin: 20px 0px;
}

.profilePage__info {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0px;
}

.profile__avatar {
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
  margin: 30px 0px;
}

.profile__login-button {
  background-color: var(--secondary-color);
  width: 170px;
  color: white;
  position: relative;
  margin-top: 5px;
}
