.publish-recipe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 10%;
}

.publish-recipe__title {
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 20px;
  color: var(--inactive-color);
}

.publish-recipe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--inactive-color);
  width: 100%;
  height: 100%;
  border: solid 8px var(--highlight-color);
  background-color: white;
  overflow: scroll;
}

input,
textarea {
  border-radius: 10px;
  border: 1px var(--secondary-color) solid;
  width: 80%;
  margin: 10px 0px;
  padding: 5px;
  font-family: inherit;
}
