.addCategoryInput {
  margin: 5px;
  border-radius: 50px;
  padding: 3px;
  height: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 90px;
}

.addCategoryButton {
  background-color: var(--primary-color);
  border-radius: 50px;
  color: white;
  height: 23px;
  width: 120px;
  margin-left: 4px;
}
