.main-login-container {
  display: flex;
  justify-content: center;
  border: 1px solid #81a1c1;
  width: 50%;
  margin-top: 10%;
  background: #81a1c1;
  border-radius: 5px;
  padding: 12px;
}
.authenticate-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.oauth-login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 12px;
  margin-top: 18px;
}

.oauth-login__button-google {
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 10px !important;
}
@media only screen and (max-width: 600px) {
  .oauth-login__button-google {
    padding: 0px !important;
  }
}

.oauth-login-container span,
.oauth-login-container button {
  width: 100%;
}

.oauth-login-container-local {
  padding: 12px;
  border-radius: 8px;
  background: #b48ead;
  border: 1px solid #b48ead;
}
