.authenticate-container {
  display: flex;
  flex-direction: column;
	width: 100%;
}

.oauth-login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 12px;
}

.oauth-login__button-google {
  margin-bottom: 4px;
  margin-top: 8px;
	padding: 10px !important;
	border-radius: 3px;
}

.oauth-login__button-facebook {
  margin-bottom: 4px;
	margin-top: 8px;
	border-radius: 3px;
  /* padding: 1px !important; */
}

@media only screen and (max-width: 600px) {
  .oauth-login__button-google {
    padding: 0px !important;
  }
}

.oauth-login-container span,
.oauth-login-container button {
  width: 100%;
}

.oauth-login-container-local {
  color: var(--active-color);
}
