.button {
  outline: none;
  margin: 0;
  padding: 8px;
  border-radius: 20px;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.button:hover {
  cursor: pointer;
}

.button:focus,
.button::-moz-focus-inner {
  outline: none;
  border: 0;
}

.button:active,
.button--active {
  transform: translateY(5px);
  box-shadow: 0px 10px 1px white;
  border: 5px solid black;
  border-bottom: none;
}
.button:active::before,
.button--active::before {
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
}
.glass-button,
.glass-button::before,
.glass-button:active,
.glass-button:active::before {
  background: none;
  border: none;
  box-shadow: none;
  stroke: var(--inactive-color);
  transform: none;
}
.glass-button--active,
.glass-button:active {
  stroke: var(--active-color);
}
