.editable {
  display: grid;
  grid-template-columns: 1fr auto;
}

.editable::after {
  content: url("../images/editable.svg");
}
.editable__main {
  display: inline-flex;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  color: var(--inactive-color);
}
.editable__main--editing {
  border: solid 1px var(--primary-color);
  background-color: rgba(208, 185, 144, 0.2);
  border-radius: 10px;
}

.editable__input,
.editable__textarea,
.editable__input:focus {
  font: inherit;
  justify-self: stretch;
  border: none;
  background: none;
  outline: none;
  color: var(--inactive-color);
}
.editable__textarea {
  flex-basis: 100%;
  color: var(--inactive-color);
}

.editable__error {
  font-size: 12px;
  font-family: sans-serif;
  color: var(--active-color);
  margin: 5px 5px;
}
