.gallery {
  display: grid;
  place-items: center center;
  width: 100%;
  background: var(--background-color);
  min-height: 320px;
  position: relative;
}

.gallery__placeholder,
.gallery__image {
  max-height: 50vh;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.gallery__placeholder__item {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: var(--secondary-color);
  font-size: 24px;
  color: white;
  padding: 5%;
  margin: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.gallery__nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: center;
}

.gallery__slide-list-button,
.gallery__add-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 8px;
  background: var(--inactive-color);
  font-size: 18px;
  opacity: 0.5;
}
.gallery__add-button {
  background: var(--primary-color);
}
.gallery__add-button::before {
  content: "+";
  color: white;
  position: absolute;
  top: 2px;
  font-weight: 700;
}
.gallery__slide-list-button--active,
.gallery__add-button:active,
.gallery__add-button:hover {
  background: var(--active-color);
}
.gallery__slide-list-button:hover {
  transform: scale(1.1);
  background: var(--highlight-color);
}

.gallery__fullview {
  position: absolute;
  width: 80vw;
  height: 80vh;
  z-index: 500;
  display: grid;
  place-items: center center;
  border-color: var(--highlight-color);
  background-color: var(--background-color);
}
