.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item__name {
  margin: 0;
}

.item--cupboard-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid var(--inactive-color);
  margin-bottom: 5px;
}

.item__remove {
  color: white;
  background-color: transparent;
  font-weight: 400;
  font-size: 15px;
}

.item--new-ingredient {
  background-color: var(--secondary-color);
  border-radius: 50px;
  color: white;
  margin: 5px 0px;
  height: 30px;
}
