.login-modal-container {
  position: absolute;
  text-align: center;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  width: 40%;

  border-radius: 5px;
  border: 1px solid black;
  background: lightblue;
}
@media only screen and (max-width: 600px) {
  .login-modal-container {
    width: 80%;
  }
}
