.login-modal-container {
  position: absolute;
  text-align: center;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  width: 40%;

  border-radius: 5px;
  border: 1px solid black;
  background: lightblue;
}
@media only screen and (max-width: 600px) {
  .login-modal-container {
    width: 80%;
  }
}
.login-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-modal-login-container {
  display: flex;
  flex-direction: column;
}
.login-modal-login-container__form {
  padding: 12px;
}
.login-modal-login-container label {
  display: flex;
  flex-direction: column;
  margin: 12px;
  text-align: left;
}
.login-modal-login-container input {
  padding: 12px;
}
.login-modal-login-container__form__options-submit {
  display: flex;
  align-items: center;
  width: 60%;
  padding: 12px;
  border-radius: 8px;
}
.login-modal-login-container__form__options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.oauth-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
