.login-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.5fr 1fr;
}

.login-container h2 {
  display: grid;
  place-items: center center;
  grid-column: 2;
  grid-row: 1;
}
.login-container__form {
  display: grid;
  place-items: center center;
  grid-column: 2;
  grid-row: 2;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  width: 100%;
}
.login-container__form label {
  display: grid;
  grid-gap: 12px;
  width: 100%;
}
.login-container__form input {
  padding: 18px;
}

.login-container__form__options {
  display: grid;
}
