.login-local-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-local-container input {
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  margin: 5px;
  background-color: white;
}

.login-local-container__form__options {
  display: flex;
  flex-direction: column;
}

.login-local-container__form__options__links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}
.login-local-container__form__options__links a {
  text-decoration: none;
  color: var(--primary-color);
}

.login-local-container__form__options__links__cta {
}

.login-local-container__form__options-submit {
  align-self: center;
  padding: 5px;
  width: 170px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 50px;
  background: var(--secondary-color);
  font-size: 16px;

  color: #eceff4;
}
.login-local-container__error {
  color: var(--active-color);
  animation: 3s;
  animation-name: slidein;
}

.login__button__forgot-register {
  font-size: 12px;
  margin: 5px 0px;
  padding: 0px;
  font-weight: 300px;
  color: var(--primary-color);
}

@keyframes slidein {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
