.publish-recipe {
  margin: 8px;
  box-shadow: var(--background-color) 0px 0px 8px;
  border: solid 3px rgba(208,185,141,0.4);
  background: none;
  border-radius: 12px;
  margin-bottom: 80px;
}

.publish-recipe__form {
  width: calc(100% + 16px);
  height: 100%;
  margin-left: -8px;
  color: var(--inactive-color);
  display: grid;
  place-items: center start;
  grid-template-rows: 80px auto;
  border: solid 8px var(--highlight-color);
}
