.recipe {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 10%;
  top: 5px;
  color: var(--inactive-color);
  overflow: scroll;
}

.recipe__title {
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 20px;
}
.recipe__main {
  width: 100%;
  height: 100%;
  border: solid 8px var(--highlight-color);
  background-color: white;
  overflow: scroll;
}
.recipe__main__content {
  margin: 12px;
}

ul {
  list-style-type: none;
}
