.register-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 12px;
}

.register-container h2 {
  display: grid;
  place-items: center center;
  grid-column: 2;
  grid-row: 1;
}
.register-container__form {
  display: flex;
  flex-direction: column;
}
.register-container__form label {
  display: flex;
  flex-direction: column;
  width: 100%;

  text-align: left;
  margin-top: 12px;
}
.register-container__form input {
  padding: 18px;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.register-container__form__options-submit {
  width: 60%;
  margin-top: 22px;
  padding: 12px;
  border-radius: 8px;
  background: #a3be8c;
  border: 1px solid #a3be8c;
}
